@model IEnumerable<SalesV1.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Customers</h2>
<p>&nbsp;</p>
<h3 style="color:red">@TempData["Message"]</h3>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th bgcolor="White" colspan="2" class="col-lg-1 col-centered"><p align="center">Action</p></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }

</table>
